.sticky-top.p-3.fs-15
  %ul.d-flex.justify-content-between.nav.nav-pills.mb-sm-auto.align-items-start
    - if user_signed_in?
      %li.nav-item
        = link_to destroy_user_session_path, class: 'nav-link px-0 d-lg-none text-decoration-none text-link sidebar' do
          %span.fas.fa-power-off
            Déconnexion

    %li.px-0.nav-item.nav-link.text-sidebar
      %span
        %span
        = link_to "Produits", products_path, class: "sidebar-hover"

    %li.px-0.nav-item.nav-link.text-sidebar
      %span
        %span
        - if current_user
          = link_to 'Déconnexion', destroy_user_session_path,
                                    class: 'text-white'                        
        - else
          .d-flex.px-4
            = link_to "Se connecter", new_user_session_path, 
                                      class: "text-white"


